.contenedor-inicio {
    margin: 0 auto;
    margin-top: 5rem;
    width: 120rem;


    .contenido-titulo {
        h1 {
            text-align: center;
            font-weight: 900;
        }
    }

    .contenido-parrafo-uno {
        margin: 0 auto;
        margin-top: 2rem;
        width: 60rem;
    }


    .contenedor-reservar-hora-inicio {
        background: linear-gradient(130deg, rgba(19, 111, 142, 0.24), #fff, rgba(19, 111, 142, 0.24));
        text-align: center;
        width: 80rem;
        margin: 0 auto;
        margin-top: 10rem;
        padding: 2rem;
        border-radius: 1rem;
        border: solid rgba(19, 111, 142, 0.537) .1rem;
        box-shadow: 0rem 0.5rem 0.5rem .6rem rgba(0, 0, 0, 0.24);

        .contenido-reservar-hora-inicio-imagen {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 5rem 0;


            img {
                width: 20rem;
                border-radius: .5rem;
            }

            .contenido-reservar-hora-inicio-parrafo {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: solid .2rem rgba(19, 111, 142, 0.537);
                padding: 3rem;
                border-radius: .5rem;

                p {
                    color: #000;
                    margin-bottom: 2rem;
                }

                span {
                    color: rgba(19, 111, 142, 0.537);
                    border-bottom: solid .1rem #000;
                }
            }
        }

        .contenido-reserva-hora-inicio-btn {
            background-color: rgb(20, 214, 20);
            width: 20rem;
            margin: 0 auto;
            padding: 2rem 3rem;
            border-radius: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: solid .1rem #000;
            transition: .3s;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        .contenido-reserva-hora-inicio-btn:hover {
            background-color: rgba(19, 111, 142, 0.537);
            cursor: pointer;
        }

    }


    .contenido-parrafo-dos {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10rem;
        padding: 0 2rem 5rem 2rem;
        border-radius: .5rem;
        margin-top: 10rem;
        background-color: rgba(19, 111, 142, 0.537);

        h3 {
            text-align: center;
            color: rgb(232, 246, 251);
            text-transform: capitalize;
            margin: 0 auto;
            margin-bottom: 7rem;
            padding-top: 5rem;
            border-bottom: solid .1rem;
            width: 23rem;
        }


        .contenido-tarjetas {
            display: flex;
            justify-content: space-around;

            .tarjetas {
                border-radius: 1rem;
                border: solid .1rem #000;
                background-color: rgb(240, 240, 240);
                width: 25rem;
                margin: 0 auto;
                box-shadow: -.5rem .5rem 0.5rem .6rem rgba(0, 0, 0, 0.40);
                cursor: pointer;
                transition: .3s;
           
                h4 {
                    text-align: center;
                    margin-bottom: 3rem;
                }

                .tarjeta-img-inicio {
                    width: 7rem;
                    border-radius: 100%;
                    margin: 0 auto;
                    margin-top: -3rem;
                    margin-bottom: 3rem;
                    img {
                        width: 8rem;
                        height: 8rem;
                        border-radius: 100%;
                        border: solid .1rem #000;
                    }
                }

                .parrafo-tarjeta-especialistas {
                    width: 20rem;
                    margin: 0 auto;
                    margin-bottom: 5rem;
                    p{
                        text-align: justify;
                        font-size: 1.5rem;
                        
                    }
                    li{
                        margin-bottom: 2rem;
                        font-size: 1.5rem;
                        span{
                            font-weight: 700;
                        }
                    }
                }

                
            }

            .tarjetas:hover{
                transform: scale(1.1);
                box-shadow: -1rem 1rem 0.5rem .6rem rgba(0, 0, 0, 0.40);
            }

        }

    }


    .contenido-parrafo-tres {

        h2 {
            text-align: center;
            margin-bottom: 5rem;
        }

        .contenido-tarjetas-tratamiento-inicio {

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .tarjeta-tratamiento-inicio {
                width: 35rem;
                cursor: pointer;
                background-color: rgb(216, 255, 250);

                border-radius: .5rem;
                margin-bottom: 5rem;

                img {
                    width: 35rem;
                    height: 20rem;
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;
                }

                h3 {
                    text-align: center;
                    margin: 2rem 0;
                }

                .btn-tratamiento-inicio {
                    background-color: rgb(20, 214, 20);
                    margin-top: 2rem;
                    border-bottom-left-radius: .5rem;
                    border-bottom-right-radius: .5rem;

                    p {
                        padding: 1.5rem;
                        text-align: center;
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }

        }
    }
}