.contenedor-inicio {
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 120rem;
    position: relative;


    .contenido-titulo {
        h1 {
            text-align: center;
            font-weight: 900;
        }
    }

    .contenido-parrafo-uno {
        margin: 0 auto;
        margin-top: 2rem;
        width: 60rem;
    }


    .contenedor-reservar-hora-inicio {
        background: linear-gradient(130deg, rgba(19, 111, 142, 0.24), #fff, rgba(19, 111, 142, 0.24));
        text-align: center;
        width: 80rem;
        margin: 0 auto;
        margin-top: 10rem;
        padding: 2rem;
        border-radius: 1rem;
        border: solid rgba(19, 111, 142, 0.537) .1rem;
        box-shadow: 0rem 0.5rem 0.5rem .6rem rgba(0, 0, 0, 0.24);

        .contenido-reservar-hora-inicio-imagen {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 5rem 0;


            img {
                width: 20rem;
                border-radius: .5rem;
            }

            .contenido-reservar-hora-inicio-parrafo {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: solid .2rem rgba(19, 111, 142, 0.537);
                padding: 3rem;
                border-radius: .5rem;

                p {
                    color: #000;
                    margin-bottom: 2rem;
                }

                span {
                    color: rgba(19, 111, 142, 0.537);
                    border-bottom: solid .1rem #000;
                }
            }
        }

        .contenido-reserva-hora-inicio-btn {
            background-color: rgb(20, 214, 20);
            width: 20rem;
            margin: 0 auto;
            padding: 2rem 3rem;
            border-radius: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: solid .1rem #000;
            transition: .3s;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        .contenido-reserva-hora-inicio-btn:hover {
            background-color: rgba(19, 111, 142, 0.537);
            cursor: pointer;
        }

    }


   

    .contenido-parrafo-tres {

        h2 {
            text-align: center;
            margin-bottom: 5rem;
        }

        .contenido-tarjetas-tratamiento-inicio {

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .tarjeta-tratamiento-inicio {
                width: 35rem;
                cursor: pointer;
                background-color: rgb(216, 255, 250);

                border-radius: .5rem;
                margin-bottom: 5rem;

                img {
                    width: 35rem;
                    height: 20rem;
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;
                }

                h3 {
                    text-align: center;
                    margin: 2rem 0;
                }

                .btn-tratamiento-inicio {
                    background-color: rgb(20, 214, 20);
                    margin-top: 2rem;
                    border-bottom-left-radius: .5rem;
                    border-bottom-right-radius: .5rem;

                    p {
                        padding: 1.5rem;
                        text-align: center;
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }

        }
    }
}